packages/llvm/sources/** linguist-vendored
packages/third-party/kcov/gen/**  linguist-vendored
packages/third-party/kcov/sources/**  linguist-vendored
packages/third-party/kcov/utils/**  linguist-vendored
packages/third-party/sources/**  linguist-vendored

* text eol=lf

*.c      text eol=lf
*.cpp    text eol=lf
*.h      text eol=lf
*.hpp    text eol=lf
*.zig    text eol=lf
*.zon    text eol=lf
*.in     text eol=lf
*.inc    text eol=lf

.clangd        text eol=lf
.clang-format  text eol=lf
flake.*        text eol=lf

*.yaml   text eol=lf
*.yml    text eol=lf

*.sh     text eol=lf
*.bat    text eol=crlf
*.fish   text eol=lf
